
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section__rend__yacht{
    background: #11131f;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
padding-bottom: 164px;
}
.container__rend__yacht{
    width: 923px;
    padding: auto 10px;
    margin: 0 auto;
}
.h2__rend__yacht{
    font-family: DM Sans;
    font-weight: 500;
    font-size: 60px;
    line-height: 66px;
    color: white;
}
.img__rend__yacht{
    width: 282px;
    height: 191px;
    
}
.form__rend__yacht{

}
.input__rend__yacht{
    font-family: DM Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
    background-color: transparent;
    border: transparent;
    
}
.button__rend__yacht{
    width: 132px;
    height: 48px;
    font-family: DM Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 19.8px;
    color: #F6F5EF;
    border-radius: 60px;
    border: solid #F6F5EF 1px;
    background-color: transparent;

}
.svg__rend__yacht{

}