@use 'utils/_placeholders.scss';
@use 'utils/_mixins.scss';
@use 'utils/_variables.scss';
@use 'utils/_base.scss';

@mixin text-style($font-weight: 400, $font-size: 16px, $family: 'Roboto', $line-height: 30px, $color: #000, $align: center) {
    font-weight: $font-weight;
    font-size: $font-size;
    font-family: $family;
    line-height: $line-height;
    color: $color;
    text-align: $align;
    letter-spacing: 3%;
}

.section1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 164px;
    background-color: #11131F;
    padding-top: 62px;
    padding-bottom: 142px;

    &__aside {
        width: 426px;
        height: 598px;
        position: relative;
        z-index: 1;
        background-image: url('https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/aside.png');
        background-repeat: no-repeat;
        background-color: none;
        border-radius: 24px;
        // background: linear-gradient(to right, #f9fdff2a, #90a4ae);
        // box-shadow:
        //     -60px 20px 80px rgba(255, 255, 255, 0.3),
        //     // 60px 120px 100px rgba(255, 255, 255, 0.259),
        //     // -60px 50px 80px rgba(255, 255, 255, 0.2),
        //     // 60px 90px 100px rgba(0, 0, 0, 0.6)
        //     ;

        .section1__picturelist {
            display: flex;
            margin-top: 32px;

            .section1__picture {
                width: 56px;
                height: 56px;
                position: relative;
                border-radius: 50px;

                img {
                    border-radius: 50px;
                    border: 2px solid #93ABAE;
                }

                &:nth-child(1) {
                    z-index: 3;
                }

                &:nth-child(2) {
                    left: -11px;
                    z-index: 2;
                }


                &:nth-child(3) {
                    left: -22px;
                    z-index: 1;
                }
            }
        }

        .section1__clients-title {
            text-transform: uppercase;
            margin-left: 32px;

            p {
                @include text-style(700, 14px, 'DM Sans', 15.4px, #11131F, left);
            }
        }

        .section1__picturelist2 {
            display: block;

            .section1__item {
                position: relative;

                &:nth-child(1) {
                    width: 233px;
                    height: 233px;
                    left: 307px;
                    top: -100px;

                    img {
                        border-radius: 24px;
                    }
                }

                &:nth-child(2) {
                    width: 378px;
                    height: 221px;
                    top: -149px;
                    left: -8px;
                }

            }
        }

        .section1__textlist {
            display: flex;
            gap: 14px;
            position: relative;
            top: -142px;
            margin-left: -10px;

            li {
                .section1__price {
                    @include text-style(400, 60px, 'DM Sans', 66px, #11131F, left);
                }

                .section1__price--description {
                    @include text-style(400, 18px, 'DM Sans', 19.8px, #11131F, left);
                    position: relative;
                    top: 14px;

                }
            }
        }
    }

    &__article {
        width: 554px;
        height: 360px;
        margin-top: 132px;

        .section1__title {
            @include text-style(500, 60px, 'DM Sans', 66px, #ffffff, left);
            margin-bottom: 16px;

            .section__span {
                color: #ffffff80;
                font-style: italic
            }
        }

        .section1__description {
            @include text-style(400, 16px, 'DM Sans', 22px, #F6F5EF, left);
            margin-bottom: 32px;
        }

        .section1__battons {
            display: flex;
            gap: 11px;
            padding: 0;

            .section1__button {
                @include text-style(700, 18px, 'DM Sans', 19px, #F6F5EF, center);
                border-radius: 60px;

            }

            .button__1 {
                width: 150px;
                height: 48px;
                background-color: #93ABAE;
                border: none;
            }

            .button__2 {
                width: 117px;
                height: 48px;
                border: 1px solid #F6F5EF;
                background-color: #1F212D;
            }
        }
    }
}

@media (max-width: 768px) {
    .section1 {
        flex-flow: column-reverse;
        align-items: center;
        padding-bottom: 80px;

        &__aside {
            width: 90%;
            height: 120vw;
            background-size: contain;

            .section1__picturelist {
                padding: 0;
                margin: 0;
                margin-top: 24px;
                margin-left: 24px;
            }

            .section1__clients-title {
                margin: 0;
                margin-top: 11px;
                margin-left: 24px;

                p {
                    @include text-style(700, 14px, 'DM Sans', 15.4px, #11131F, left);
                }
            }

            .section1__picturelist2 {
                padding: 0;
                width: auto;
                // height: 250px;

                .section1__item {
                    &:nth-child(1) {
                        width: 133px;
                        height: 133px;
                        left: 50vw;
                        top: -79px;
                    }

                    &:nth-child(2) {
                        width: 287px;
                        height: 167px;
                        top: -95px;
                        left: 0;
                        margin: 0 auto;
                    }
                }
            }

            .section1__textlist {
                margin-top: 58px;

                li {
                    .section1__price {
                        @include text-style(400, 48px, 'DM Sans', 52.8px, #11131F, left);
                    }

                    .section1__price--description {
                        @include text-style(400, 14px, 'DM Sans', 19.6px, #11131F, left);
                        position: relative;
                        top: 9px;

                    }
                }
            }
        }

        &__article {
            width: 90%;
            height: 100%;
            margin: 0 auto;
            margin-bottom: 40px;

            .section1__title {
                @include text-style(500, 36px, 'DM Sans', 39.6px, #ffffff, left);
                margin-bottom: 14px;
            }

            .section1__description {
                @include text-style(400, 14px, 'DM Sans', 19.6px, #F6F5EF, left);
                margin-bottom: 24px;
            }

            .section1__battons {
                gap: 8px;
                padding: 0;

                .section1__button {
                    @include text-style(700, 14px, 'DM Sans', 15.4px, #F6F5EF, center);

                }

                .button__1 {
                    width: 130px;
                    height: 43px;
                }

                .button__2 {
                    width: 104px;
                    height: 43px;
                }
            }
        }
    }
}