*,
*::after,
*::before {
    box-sizing: border-box;
}

.container__review {
    max-width: 1226;
    padding: auto 10px;
    margin: 0 auto;
}

.section__review{
    background: #1F212D;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}