// @import 'node_modules/modern-normalize/modern-normalize.css';

// @use "./utils/_mixins.scss" as *;
// @use "./utils/_variables.scss" as *;
// @use "./utils/_placeholder.scss" as *;

@import url('./utils/_mixins.scss');
@import url('./utils/_variables.scss');
@import url('./utils/_placeholders.scss');
@import url('./utils/_base.scss');

@import url('./_section1.scss');
@import url('./_section2.scss');
@import url('./_section3.scss');
@import url('./_section4.scss');
@import url('./_section5.scss');
@import url('./_section6.scss');
@import url('./_section7.scss');
@import url('./_section8.scss');
@import url('./_footer.scss');

body {
//   overflow-x: hidden !important;
  font-family: 'Poppins';
  button {
    cursor: pointer;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

.container {
  width: 90vw;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  outline: 2px solid red;
} 