<header class="header">
    <ul class="header__logo--cont">
        <li class=""><img class="header__icon"
                src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/header/yacht.svg"
                alt="yacht-icon">
        </li>
        <li class="header__logo">yacht adventures</li>
    </ul>
    <nav id="nav-bar" class="header__nav">
        <ul class="header__breadcrumbs">
            <li><a class="header__link" href="#">Services</a></li>
            <li><a class="header__link" href="#">Projects</a></li>
            <li><a class="header__link" href="#">Clients</a></li>
            <li><a class="header__link" href="#">About</a></li>
        </ul>
    </nav>
    <div class="burger">
        <div class="burger__stripe"></div>
    </div>
</header>