<header class="header">
    <article class="container">
        <ul class="header__logotype">
            <li><svg class="header__icon">
                    <use href=""></use>
                </svg></li>
            <li class="header__logo">yacht adventures</li>
        </ul>
        <ul class="header__nav">
            <li><a class="header__link" href="">about</a></li>
            <li><a class="header__link" href="">yachts</a></li>
            <li><a class="header__link" href="">reviews</a></li>
        </ul>
    </article>
</header>