<header class="header">
    <article class="header__container">
        <ul class="header__logotype">
            <li><svg class="header__icon">
                    <use
                        href="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/symbol-defs.svg#logo">
                    </use>
                </svg></li>
            <li class="header__logo">yacht adventures</li>
        </ul>
        <ul class="header__nav">
            <li><a class="header__link" href="">about</a></li>
            <li><a class="header__link" href="">yachts</a></li>
            <li><a class="header__link" href="">reviews</a></li>
        </ul>
        <hr>
    </article>
</header>