<section class="catalog">
    <ul class="yacht">
        <li class="yacht__cards">
            <img class="yacht__img" src="" alt="">
            <h4 class="yacht__heading">arrow</h4>
            <h2 class="yacht__subheading">luxury yachts</h2>
            <h3 class="yacht__type">length</h3>
            <h3 class="yacht__type">shipyard</h3>
            <h3 class="yacht__type">built</h3>
            <h3 class="yacht__type">guests</h3>
            <h3 class="yacht__type">price</h3>
            <p class="yacht__stats">48m (155ft)</p>
            <p class="yacht__stats">Admiral</p>
            <p class="yacht__stats">2021</p>
            <p class="yacht__stats">11 in 5 cabins</p>
            <p class="yacht__stats">&euro;33,500,000</p>
        </li>
        <li class="yacht__cards">
            <img class="yacht__img" src="" alt="">
            <h4 class="yacht__heading">benetti oasis 40m...</h4>
            <h2 class="yacht__subheading">luxury yachts</h2>
            <h3 class="yacht__type">length</h3>
            <h3 class="yacht__type">shipyard</h3>
            <h3 class="yacht__type">built</h3>
            <h3 class="yacht__type">guests</h3>
            <h3 class="yacht__type">price</h3>
            <p class="yacht__stats">41m (133ft)</p>
            <p class="yacht__stats">Benetti</p>
            <p class="yacht__stats">2025</p>
            <p class="yacht__stats">10 in 5 cabins</p>
            <p class="yacht__stats">&euro;23,210,000</p>
        </li>
        <li class="yacht__cards">
            <img class="yacht__img" src="" alt="">
            <h4 class="yacht__heading">belle anna</h4>
            <h2 class="yacht__subheading">luxury yachts</h2>
            <h3 class="yacht__type">length</h3>
            <h3 class="yacht__type">shipyard</h3>
            <h3 class="yacht__type">built</h3>
            <h3 class="yacht__type">guests</h3>
            <h3 class="yacht__type">price</h3>
            <p class="yacht__stats">50m (155ft)</p>
            <p class="yacht__stats">ISA</p>
            <p class="yacht__stats">2012</p>
            <p class="yacht__stats">12 in 6 cabins</p>
            <p class="yacht__stats">&euro;21,000,000</p>
        </li>
    </ul>
</section>