<section class="section4">
     <aside class="section4__aside">
         <ul class="section4__picturelist">
             <li class="section4__picture">
                 <picture>
                     <source
                         srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section4/img_diving.webp  1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section4/img_diving@2x.webp 2x"
                         media="(max-width: 420px)">
                     <source
                         srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section4/img_diving.webp 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section4/img_diving@2x.webp 2x"
                         media="(min-width: 421px) and (max-width: 768px)">
                     <source
                         srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section4/img_diving.webp 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section4/img_diving@2x.webp 2x"
                         media="(min-width: 769px)">
                     <img src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section4/img_diving.webp"
                         srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section4/img_diving@2x.webp 2x"
                         alt="..">
                 </picture>
             </li>
             
             

 </section>