<section class="section1">
    <aside class="section1__aside">
        <ul class="section1__picturelist">
            <li class="section1__picture">
                <picture>
                    <source srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/person-1.jpg 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/person-1@2x.jpg 2x" media="(max-width: 420px)">
                    <source srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/person-1.jpg 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/person-1@2x.jpg 2x" media="(min-width: 421px) and (max-width: 768px)">
                    <source srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/person-1.jpg 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/person-1@2x.jpg 2x" media="(min-width: 769px)">
                    <img src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/person-1.jpg" srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/person-1@2x.jpg 2x" alt="img_smallperson">
                </picture>
            </li>
            <li class="section1__picture">
                <picture>
                    <source srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/person-2.jpg 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/person-2@2x.jpg 2x" media="(max-width: 420px)">
                    <source srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/person-2.jpg 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/person-2@2x.jpg 2x" media="(min-width: 421px) and (max-width: 768px)">
                    <source srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/person-2.jpg 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/person-2@2x.jpg 2x" media="(min-width: 769px)">
                    <img src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/person-2.jpg" srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/person-2@2x.jpg 2x" alt="img_smallperson">
                </picture>
            </li>
            <li class="section1__picture">
                <picture>
                    <source srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/person-3.jpg 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/person-3@2x.jpg 2x" media="(max-width: 420px)">
                    <source srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/person-3.jpg 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/person-3@2x.jpg 2x" media="(min-width: 421px) and (max-width: 768px)">
                    <source srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/person-3.jpg 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/person-3@2x.jpg 2x" media="(min-width: 769px)">
                    <img src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/person-3.jpg" srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/person-3@2x.jpg 2x" alt="img_smallperson">
                </picture>
            </li>
        </ul>
        <p class="section1__clients-title">Our Clients</p>
        <ul class="section1__picturelist2">
            <li class="section1__item">
                <picture>
                    <source srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/man.jpg 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/man@2x.jpg 2x" media="(max-width: 420px)">
                    <source srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/man.jpg 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/man@2x.jpg 2x" media="(min-width: 421px) and (max-width: 768px)">
                    <source srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/man.jpg 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/man@2x.jpg 2x" media="(min-width: 769px)">
                    <img src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/man.jpg" srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/man@2x.jpg 2x" alt="img_person">
                </picture>
            </li>
            <li class="section1__item">
                <picture>
                    <source srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/yacht.jpg 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/yacht@2x.jpg 2x" media="(max-width: 420px)">
                    <source srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/yacht.jpg 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/yacht@2x.jpg 2x" media="(min-width: 421px) and (max-width: 768px)">
                    <source srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/yacht.jpg 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/yacht@2x.jpg 2x" media="(min-width: 769px)">
                    <img src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/yacht.jpg" srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/components/img/section1/yacht@2x.jpg 2x" alt="img_yacht">
                </picture>
            </li>
            <li class="section1__item section__item--heading">
             <h2 class="section1__price">$12M <span class="section__price--description">Book now and make your dream yacht rental a reality</span></h2>   
            </li>
        </ul>
    </aside>
    <article class="section1__article">
        <h2 class="section1__title">Explore the High Seas with <span class="section__span">Our Luxury Yacht</span> Rentals</h2>
        <p class="section1__description">Experience the freedom and luxury of yachting on the open seas. Choose from our top-of-the-line yachts and embark on an unforgettable journey surrounded by breathtaking views and state-of-the-art amenities.</p>
        <ul class="section1__battons">
            <li class="section1__button-item"><button class="section1__button">Get Started</button></li>
            <li class="section1__button-item"><button class="section1__button">Explore</button></li>
        </ul>
    </article>
</section>
