<!-- <section class="review">
  <div class="container__review swiper">
    <div class="review__inner swiper-wrapper" >
      <div class="review__inner-head">
        <h2 class="review__heading">
          <span>Yacht Adventures</span>
          take pride in providing the best possible service and experience to
          our customers
        </h2>
        <p class="review__text">
          Our customers have enjoyed unforgettable moments on our yachts. Don't
          just take our word for it - read on to find out what they have to say
          about their journey with us.
        </p>
      </div>
      <div class="review__slider">
        <div class="review__slider-item swiper-slide">
          <picture class="review__img">
            <source
                srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-1.png 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-1@2.png 2x"
                media="(max-width: 420px)">
            <source
                srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-1.png 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-1@2.png 2x"
                media="(min-width: 421px) and (max-width: 768px)">
            <source
                srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-1.png 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-1@2.png 2x"
                media="(min-width: 769px)">
            <img class="review__img" src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-1.png"
                srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-1@2.png 2x"
                alt="img_smallperson">
          </picture>

          <h3 class="review__item-heading">John Wax</h3>
          <p class="review__item-text">
            I rented the Lagoon 620 with my family for a week-long vacation and
            it was the best decision ever. The yacht was spacious, comfortable,
            and luxurious, and the crew took care of everything.
          </p>
        </div>
        <div class="review__slider-item swiper-slide">
          <picture class="review__img">
            <source
                srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-2.png 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-2@2.png 2x"
                media="(max-width: 420px)">
            <source
                srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-2.png 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-2@2.png 2x"
                media="(min-width: 421px) and (max-width: 768px)">
            <source
                srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-2.png 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-2@2.png 2x"
                media="(min-width: 769px)">
            <img class="review__img" src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-2.png"
                srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-2@2.png 2x"
                alt="img_smallperson">
          </picture>
          <h3 class="review__item-heading">Victoria Romashenko</h3>
          <p class="review__item-text">
            The Sunseeker Manhattan 66 was the perfect choice for our romantic
            getaway. The yacht was beautifully designed, with all the amenities
            we needed, and the crew was attentive and friendly.
          </p>
        </div>

        <div class="review__slider-item swiper-slide">
            <picture class="review__img">
              <source
                  srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-3.png 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-3@2.png 2x"
                  media="(max-width: 420px)">
              <source
                  srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-3.png 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-3@2.png 2x"
                  media="(min-width: 421px) and (max-width: 768px)">
              <source
                  srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-3.png 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-3@2.png 2x"
                  media="(min-width: 769px)">
              <img class="review__img" src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-1.png"
                  srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-3@2.png 2x"
                  alt="img_smallperson">
            </picture>
          <h3 class="review__item-heading">Ihor Trachuk</h3>
          <p class="review__item-text">
            The Azimut 80 was the most luxurious yacht I've ever been on. The
            cabins were spacious and elegant, and the outdoor areas were perfect
            for relaxing and entertaining. Worth every penny!
          </p>
        </div>
      </div>
      <img class="accordion__button review__img" src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/arrow up.svg" alt="arrow" />
      <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
 -->



<!-- <div class="swiper container__review">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis aperiam quos debitis voluptates, aliquam vero qui accusamus sit aspernatur voluptatem et ipsa cumque placeat facere assumenda corrupti nisi, id ducimus?
      Quos numquam provident iure minus veniam, impedit sint sequi quia aliquam enim aspernatur similique quibusdam vitae ipsum. Est culpa maiores asperiores reprehenderit laboriosam dolore sequi magni, quaerat ad dicta nisi?
      Amet aliquam deserunt dolor, quibusdam qui facilis quidem distinctio aspernatur? Quisquam deserunt consequuntur nobis cupiditate ex et autem! Voluptates repellendus perferendis corrupti consectetur aspernatur veniam laboriosam rerum vitae unde quaerat?
      Ipsum tempora qui dicta, dolore facilis amet at, architecto quas ex pariatur aliquid aliquam animi ipsam commodi suscipit porro sunt quo enim? Aliquid numquam temporibus laborum, hic aliquam vel debitis.
      Maxime nesciunt ratione illum minus voluptate at quis ea eos culpa, cum aliquid. Veritatis est cupiditate atque qui quam hic repudiandae fugit architecto voluptates natus, sit, quas laudantium odio accusantium!
      Id, aut voluptatem. Doloremque aperiam error atque reiciendis! Dicta adipisci tenetur exercitationem. Voluptas eveniet rerum excepturi quis accusantium dolorum totam odit quod, repellat ducimus expedita quibusdam perspiciatis soluta tempora at?
      Quidem magnam necessitatibus officiis doloribus debitis eveniet illum, sapiente nostrum commodi distinctio iste provident atque eum accusantium accusamus earum maiores esse error, odio illo molestias saepe quod. Atque, saepe iste.
      Excepturi dolor repellat blanditiis mollitia non quo ducimus, sed rerum quisquam, iste nulla tempora voluptate illum debitis esse doloremque est corrupti sunt distinctio nemo quas libero voluptates nobis. Error, iure.
      Reprehenderit ratione, inventore cum voluptatum quis mollitia aliquid eum alias numquam tenetur commodi, autem voluptates ex earum veritatis. Quos saepe excepturi atque laborum quidem voluptatem nihil doloremque vero recusandae voluptatibus.
      Cumque recusandae rerum voluptatem, id eveniet suscipit. Explicabo, quis. Delectus ut obcaecati libero dolore ad corrupti dolorem similique nihil iusto ducimus, quae reiciendis, hic illo, aliquid nesciunt voluptates molestias sed.
      Ab architecto aut quis expedita in, temporibus voluptas facilis. Reprehenderit velit corrupti eum necessitatibus unde, ut illo error nulla pariatur. Cumque temporibus in vel dolores, quam reprehenderit voluptatem cum ipsa!
      Earum natus labore nulla, autem eveniet tempora a expedita maxime iusto, commodi accusamus aperiam impedit tempore eum suscipit animi? Sunt molestias molestiae minima harum velit aperiam officia nisi sed quidem?
      Magni unde ad sint nulla est cum ullam tenetur hic? Doloremque nihil eius optio molestias non ex tempore laboriosam modi ullam ut? Libero, suscipit dolor. Neque quas ipsum quod? Explicabo!
      Vitae sit quod alias. Maiores totam, corrupti eum aperiam dolorem soluta ex dignissimos voluptates dolorum, nemo laborum possimus! Modi iusto libero temporibus eaque molestias, sed debitis labore nesciunt natus assumenda.
      Error quis earum harum vitae aliquid inventore. Adipisci, illum quam deserunt fugit tenetur tempore fugiat velit totam accusamus praesentium! Magni veniam quo nihil ab consectetur magnam placeat ipsum delectus adipisci!
      Nihil, at consequatur. Totam animi possimus voluptatem, rem, adipisci hic magnam aut provident facilis unde quo porro! Quam sint minima facere, laudantium quae consequuntur alias, officia hic maiores doloribus dolores.
      Nostrum iste veniam ipsam doloremque amet. Officiis blanditiis vero facilis illo ratione aliquid, praesentium ducimus dolores. Aperiam optio, hic, id nisi tempore ipsa repudiandae incidunt minima itaque, asperiores similique pariatur?
      Laborum inventore rerum debitis voluptate eveniet quia provident et laudantium placeat aliquam voluptas, laboriosam dolorem odit consectetur quod dignissimos tempore? Reprehenderit doloribus voluptatem itaque libero quas quo nihil expedita reiciendis.
      Nobis blanditiis sint suscipit explicabo numquam praesentium optio magnam, assumenda, dicta molestiae dolorum, maxime eaque voluptatibus ab earum ex neque fugiat asperiores vero? Unde dolor sed beatae sint nisi velit.
      Quos mollitia rem minus accusantium sunt, tempora dicta consequuntur amet. Consectetur voluptatibus voluptatem, nihil molestias asperiores eligendi expedita vitae, animi quod assumenda magni accusantium, hic reiciendis a. Voluptas, neque vel.
      Nobis cumque amet repudiandae, beatae architecto et provident officiis, possimus dolore earum fugiat ab quam repellat ipsam, ex culpa. Magni tempora atque fugit, ad necessitatibus possimus! Id ipsa laborum cupiditate!
      Reprehenderit perspiciatis ipsam, impedit officiis harum neque, asperiores numquam ducimus aspernatur amet illo magni. Necessitatibus repudiandae temporibus a nemo vitae ipsam at. Sit dolorem repellat commodi cupiditate a, deleniti aliquid.
      Est voluptates eum voluptas placeat repudiandae! Animi officiis neque cum, iste reiciendis quos voluptate similique repellendus quae, aspernatur ex recusandae tempore vitae corporis suscipit magnam eaque id perferendis. Sed, non!
      Nobis, non eaque! Dicta tempora nam temporibus amet nihil maxime, quibusdam explicabo, qui laboriosam soluta sint totam impedit enim eligendi. Sunt minima tenetur cupiditate esse dicta facere et deleniti ad.
      Nemo, atque ullam dolore tenetur delectus ducimus eum veritatis possimus temporibus laborum dicta accusamus. Aut nobis, beatae necessitatibus cupiditate, laboriosam provident accusamus impedit rerum ratione magni tempora, incidunt cum ad?
      Consectetur labore maiores, quo earum qui quam expedita consequuntur cupiditate laborum beatae necessitatibus reprehenderit id. Minima fugit magnam eum earum mollitia a quod, eaque ratione, laborum suscipit cum dicta temporibus!
      Enim ex ipsum amet labore numquam. Quibusdam, quis doloremque laborum temporibus voluptate corporis. Beatae deleniti, neque, voluptatibus asperiores illo repudiandae accusamus quo eligendi temporibus ut nemo voluptatum nobis, numquam rem.
      Laborum aliquid eaque voluptatem! Laboriosam aperiam ut earum tempora vel molestias ipsam eum expedita obcaecati deserunt cum, incidunt, fuga aspernatur necessitatibus voluptas facilis magnam soluta maiores nobis hic quae quo!
      Iste quam ullam pariatur veritatis natus esse et! Atque, porro quidem autem odio aliquid iste, ex minima, consectetur nisi tempora repellendus velit tenetur delectus sit deserunt repudiandae officia amet enim.
      Nemo tenetur repellendus unde, ducimus deleniti eligendi numquam accusantium laboriosam aliquam odit molestias! Harum perspiciatis magni totam? Perspiciatis tempore nobis, aperiam modi voluptate illo, repudiandae doloremque ut ipsa unde sit?
      Blanditiis cumque odit quod, dolore aperiam eum, deleniti in voluptatibus dicta minus, aliquam atque maiores nostrum dolorem exercitationem? Perspiciatis dicta ea, voluptatem fugit accusantium necessitatibus? Quidem pariatur in fugiat quisquam?
      Neque veritatis molestiae culpa voluptatum iure id ea. Blanditiis reiciendis aliquid veniam rem, explicabo dolorum! Debitis est voluptatum optio minima consequatur nam earum assumenda at quasi! Laboriosam nam similique voluptate!
      Deleniti tempore, nesciunt, dolor adipisci, dicta non veniam quos cumque expedita officia nihil beatae tempora. Ex molestiae iusto deleniti eum doloremque, obcaecati dolorem temporibus error consequuntur dolore, corporis itaque eius.
      Obcaecati iusto velit beatae facere similique doloribus neque laudantium nesciunt deleniti natus nulla vero est temporibus corporis aliquam suscipit, modi adipisci saepe culpa consequatur, autem excepturi. Numquam cumque obcaecati saepe?
      Hic ea natus incidunt adipisci delectus fuga dolores, nemo fugiat, tempore nisi autem possimus rem labore? Ipsa doloremque porro maiores. Obcaecati corporis alias nemo deleniti aspernatur possimus, odio labore iure?
      Eum suscipit vero sequi dignissimos, autem alias? Quae tempore itaque adipisci enim fugiat voluptatum reprehenderit. Suscipit facilis, qui harum vel consectetur delectus, placeat dignissimos nesciunt tempora vitae, nobis modi sequi.
      Hic eligendi enim qui adipisci distinctio, unde maiores delectus ex praesentium dolores totam. Odio maxime hic amet, quo sit ea non voluptates temporibus totam repudiandae sed reprehenderit, nisi neque! Nam.
      Distinctio esse pariatur incidunt, placeat deserunt, consequatur consequuntur maxime necessitatibus quasi fugit earum repellat vero, id soluta nobis consectetur. Dicta deserunt officia animi rerum accusantium nihil nemo quisquam labore corporis.
      Voluptatibus, nihil ex nemo necessitatibus dolor illum temporibus culpa fugit corrupti quod. Sint officiis eius illum velit aliquid rerum vitae quod, porro explicabo quidem. Est maiores laudantium quae natus dicta.
      Ab sunt placeat culpa nulla! Quisquam, voluptatem illo. Similique aperiam neque adipisci fugiat, reprehenderit quod vero, ullam inventore soluta veniam nemo alias repellat? Nam, beatae voluptates enim ducimus ad itaque.
    </div>
    <div class="swiper-slide"><img src="https://gaijinpot.scdn3.secure.raxcdn.com/app/uploads/sites/4/2017/05/Akihabara-Neon-Nightscape.jpg" alt=""></div>
    <div class="swiper-slide"><img src="https://gaijinpot.scdn3.secure.raxcdn.com/app/uploads/sites/4/2017/05/Akihabara-Neon-Nightscape.jpg" alt=""></div>
    <div class="swiper-slide"><img src="https://gaijinpot.scdn3.secure.raxcdn.com/app/uploads/sites/4/2017/05/Akihabara-Neon-Nightscape.jpg" alt=""></div>
    <div class="swiper-slide"><img src="https://gaijinpot.scdn3.secure.raxcdn.com/app/uploads/sites/4/2017/05/Akihabara-Neon-Nightscape.jpg" alt=""></div>
    <div class="swiper-slide"><img src="https://gaijinpot.scdn3.secure.raxcdn.com/app/uploads/sites/4/2017/05/Akihabara-Neon-Nightscape.jpg" alt=""></div>
    <div class="swiper-slide"><img src="https://gaijinpot.scdn3.secure.raxcdn.com/app/uploads/sites/4/2017/05/Akihabara-Neon-Nightscape.jpg" alt=""></div>
    <div class="swiper-slide"><img src="https://gaijinpot.scdn3.secure.raxcdn.com/app/uploads/sites/4/2017/05/Akihabara-Neon-Nightscape.jpg" alt=""></div>
  </div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div> -->