// @use '/scss/utils/_placeholders.scss';
// @use '/scss/utils/_placeholders.scss';
// @use '/scss/utils/_base.scss';

// TODO mobile
@media screen and (min-width: 320px) {
  .header {
    position: relative;
    display: flex;
    padding-top: 4vh;
    padding-bottom: 4vh;
    // outline: 2px solid red;
    justify-content: space-between;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;

    &::after {
      content: '';
      position: absolute;
      bottom: 1vh;
      height: 0.5px;
      width: 100%;
      color: rgba(246, 245, 239, 1);
      background: rgba(246, 245, 239, 1);
      // outline: 5px solid green;
    }

    &__logotype {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3.5vw;
      width: 50%;
    }

    &__nav {
      display: none;
      gap: 1.5vw;
      align-items: center;
      justify-content: center;
    }

    &__logo {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 600;
    }

    &__link {
      // @extend %regular-text;
      color: #f6f5ef;
      font-size: 14px;
      font-weight: 700;
      line-height: 118%; /* 16.52px */
      letter-spacing: 0.42px;
      text-transform: uppercase;
    }
  }
}

// TODO tablet
@media screen and (min-width: 768px) {
  .header {
    display: flex;

    &__logotype {
      width: 35%;
    }

    &__nav {
      display: flex;
    }
  }
}

// TODO desktop
@media screen and (min-width: 1024px) {
}
