.section4 {
  margin: 0 32px;
}

.sealist {
  &__diving {
    position: relative;
    justify-content: space-around;
    align-items: center;  
    margin: 0 auto;
    &--picture {
      width: 900px;
      height: 632px;
      img {
        border-radius: 40px;
        margin-left: 600px;
      }
    }
   

    &--button {
      font-family: "DM Sans";
      font-weight: 800;
      position: absolute;
      width: 106px;
      height: 48px;
      border-radius: 40px;
      top: 538px;
      left: 712px;
    }
  }
}
.sealist {
  &__fishing {
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: -432px;
    margin-left: 1363px;
    &--picture {
      width: 900px;
      height: 632px;
      img {
        border-radius: 40px;
      }
    }

    &--button {
      font-family: "DM Sans";
      font-weight: 800;
      position: absolute;
      width: 106px;
      height: 48px;
      border-radius: 40px;
      top: 350px;
      left: 82px;
    }
  }
}
.sealist {
  &__sunbathing {
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    &--picture {
      width: 900px;
      height: 632px;
      img {
        border-radius: 40px;
      }
    }

    &--button {
      font-family: "DM Sans";
      font-weight: 800;
      position: absolute;
      width: 106px;
      height: 48px;
      border-radius: 40px;
      top: 275px;
      left: 82px;
    }
  }
}










