.section__4 {
     background-image: url("../img/section4/draiver.jpg");
    
   @media (min-device-pixel-ratio: 2),
   (-webkit-min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
       .section__4 {
               background-image: url("../img-ret@2x/draiverx2.jpg");
       }
   }
}
.section__4 {
     background-image: url("../img/section4/fish.jpg");
    
   @media (min-device-pixel-ratio: 2),
   (-webkit-min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
       .section__4 {
               background-image: url("../img-ret@2x/fishx2.jpg");
       }
   }
}
.section-img1{
display: block;
position: relative;
justify-content: space-between;
width: 712px;
height: 632px;
margin-left: 2000px;


}
.section-img2{
 display: block;
 position: relative;
justify-content: space-between;
width: 440px;
height: 428px;
margin-left: 2780px;
top: -430px;


}
.section-img3{
display: block;
position: relative;
justify-content: space-between;
width: 436px;
height: 352px;
margin-left:2325px;
top: -380px;

}
.button1{
  position: absolute;
  width: 106px;
  height: 48px;
  border-radius: 40px;
  top: 550px;
  left: 50px;

}

.button2{
     position: absolute;
     width: 106px;
     height: 48px;
     border-radius: 40px;
     top: 350px;
     left: 50px;
}
.button3{
  position: absolute;
  width: 106px;
  height: 48px;
  border-radius: 40px;
  top: 270px;
  left: 50px;

}